In [1]:
import pandas as pd

In [2]:
import os

In [3]:
banks = os.path.join("Resources", "budget_data.csv")

In [4]:
databanks = pd.read_csv(banks)

In [6]:
databanks.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
totmonths = len(databanks["Date"].unique())
totmonths

86

In [11]:
pl = databanks["Profit/Losses"].sum()
pl

38382578

In [38]:
avg = databanks["Profit/Losses"].mean()
avg

446309.0465116279

In [60]:
round_avg = round((avg),2)
round_avg

446309.05

In [31]:
bestinc = databanks["Profit/Losses"].max()
bestinc

1170593

In [33]:
bestincind = databanks["Profit/Losses"].argmax()
bestincind

/home/craig/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

25

In [26]:
worstdec = databanks["Profit/Losses"].min()
worstdec

-1196225

In [34]:
worstdecind = databanks["Profit/Losses"].argmin()
worstdecind

/home/craig/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

44

In [45]:
print(databanks.iloc[[25,44]])

        Date  Profit/Losses
25  Feb-2012        1170593
44  Sep-2013       -1196225

In [48]:
best_month = databanks.iloc[25,0]
worst_month = databanks.iloc[44,0]
print (best_month)
print (worst_month)

Feb-2012
Sep-2013

In [107]:
a=("Financial Analysis")
b=("---------------------")
c=("Total Months: " + str(totmonths))
d=("Total: $" + str(pl))
e=("Average Change: $" + str(round_avg))
f=("Greatest Increase in Profits: " + best_month + "  $" + str(bestinc))
g=("Greatest Decrease in Profits: " + worst_month + "  $" + str(worstdec))
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Financial Analysis
---------------------
Total Months: 86
Total: $38382578
Average Change: $446309.05
Greatest Increase in Profits: Feb-2012  $1170593
Greatest Decrease in Profits: Sep-2013  $-1196225

In [94]:
banksummary = pd.DataFrame({"Total Months": [totmonths], "Total Profits/Losses": str(pl), "Average Change": str(round_avg), "Greatest Increase in Profits": best_month + " $" +str(bestinc), "Greatest Decrease in Profits": worst_month + " $" +str(worstdec)})
banksummary

,Total Months,Total Profits/Losses,Average Change,Greatest Increase in Profits,Greatest Decrease in Profits
0,86,38382578,446309.05,Feb-2012 $1170593,Sep-2013 $-1196225

In [187]:
file1 = open("PyBanks_Summary.txt", "w+")

In [188]:
file1.write("This is Craig Hall's summary of PyBanks \n")
file1.write(a + " \n")
file1.write(b + " \n")
file1.write(c + " \n")
file1.write(d + " \n")
file1.write(e + " \n")
file1.write(f + " \n")
file1.write(g + " \n")
file1.close()