In [2]:
#import dependencies
import pandas as pd
import os

In [3]:
#specify path of data source file
banks = os.path.join("Resources", "budget_data.csv")

In [4]:
#read the csv file
databanks = pd.read_csv(banks)

In [5]:
#check / view a sample of the data
databanks.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
#determine the total number of months in the analysis
totmonths = len(databanks["Date"].unique())
totmonths

86

In [7]:
#determine the overall profit/loss by taking a sum of all profits and losses
pl = databanks["Profit/Losses"].sum()
pl

38382578

In [8]:
#deatermine the average of all profits and losses
avg = databanks["Profit/Losses"].mean()
avg

446309.0465116279

In [9]:
#round the average to the nearest cent
round_avg = round((avg),2)
round_avg

446309.05

In [10]:
#determine the greatest increase in a single month by looking for the max value
bestinc = databanks["Profit/Losses"].max()
bestinc

1170593

In [11]:
#determine the index of the greatest increase to locate full information for the entry
bestincind = databanks["Profit/Losses"].argmax()
bestincind

/home/craig/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

25

In [12]:
#determine the worst loss by looking at the minimum value in profits / losses
worstdec = databanks["Profit/Losses"].min()
worstdec

-1196225

In [13]:
#locate the index of the worst loss to find full information related to the loss
worstdecind = databanks["Profit/Losses"].argmin()
worstdecind

/home/craig/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

44

In [14]:
#printed indexes of best and worst to determine the dates on which they happened
print(databanks.iloc[[25,44]])

        Date  Profit/Losses
25  Feb-2012        1170593
44  Sep-2013       -1196225

In [15]:
#assigned variables for the dates of the best increase and worst loss
best_month = databanks.iloc[25,0]
worst_month = databanks.iloc[44,0]
print (best_month)
print (worst_month)

Feb-2012
Sep-2013

In [16]:
#assigned variables for each line that I wanted to print in this file and the accompanying text file.  
#It was not necessary to compile the data like this, but allowed for greater flexibility in controlling 
#the layout, spacing and positions of the information I wanted to print.  
a=("Financial Analysis")
b=("---------------------")
c=("Total Months: " + str(totmonths))
d=("Total: $" + str(pl))
e=("Average Change: $" + str(round_avg))
f=("Greatest Increase in Profits: " + best_month + "  $" + str(bestinc))
g=("Greatest Decrease in Profits: " + worst_month + "  $" + str(worstdec))
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Financial Analysis
---------------------
Total Months: 86
Total: $38382578
Average Change: $446309.05
Greatest Increase in Profits: Feb-2012  $1170593
Greatest Decrease in Profits: Sep-2013  $-1196225

In [17]:
#created data frame of the summary information
banksummary = pd.DataFrame({"Total Months": [totmonths], "Total Profits/Losses": str(pl), "Average Change": str(round_avg), "Greatest Increase in Profits": best_month + " $" +str(bestinc), "Greatest Decrease in Profits": worst_month + " $" +str(worstdec)})
banksummary

,Total Months,Total Profits/Losses,Average Change,Greatest Increase in Profits,Greatest Decrease in Profits
0,86,38382578,446309.05,Feb-2012 $1170593,Sep-2013 $-1196225

In [18]:
#opened a writeable txt file to contain a printout of the summary data
file1 = open("PyBanks_Summary.txt", "w+")

In [19]:
#wrote the individual lines summarizing the key data.  Again, it is not necessary to compile it with this many 
#steps, but allowed for greater flexibility in spacing and layout.  Closed the file. 
file1.write("This is Craig Hall's summary of PyBanks \n")
file1.write(a + " \n")
file1.write(b + " \n")
file1.write(c + " \n")
file1.write(d + " \n")
file1.write(e + " \n")
file1.write(f + " \n")
file1.write(g + " \n")
file1.close()